body {
  background-color: lightgreen;
}
h1.Welcome {
  color: black;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  100% {
    color: green;
  }
  50% {
    color: blue;
  }
}
